.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: "Trade Winds", serif;
  font-weight: 400;
  font-style: normal;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: "Barriecito", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 0 #232931;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower';
  
  }
  #rollDice {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #4ECCA3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 
  }
  #rollDice:hover {
    background-color: #3DA98D;
  }